<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Http landing server</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-color:black;
    }
    .http-landing {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 22%;
        font-size: 50px;
        color: white;

    }
</style>

<body>
    <h1 class="http-landing">This is http landing page</h1>
</body>

</html>